<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiit.g131.mafia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/start_tittle" />
        <activity
            android:name=".PlayersActivity"
            android:label="@string/players_tittle" />
        <activity
            android:name=".ShuffleActivity"
            android:label="@string/shuffle_tittle" />
        <activity android:name=".RolesActivity" />
        <activity android:name=".TurnActivity"></activity>
    </application>

</manifest>